body {
    margin: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f0f0f0;
}

.header {
    background-color: #23b0db;
    text-align: center;
    padding: 100px;
    color: #000;
}

.content {
    /* max-width: 800px; */
    margin: 0 auto;
    
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content p {
    text-align: left;
}

.image-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    float:right;
}

.image-container img {

    height: auto;
    margin: 20px;
}

.footer {
    background-color: #23b0db;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.quote {
    background-color: #000;
    color: #17b2ee;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
